# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: <%= database_adapter %>
  pool: <%= database_pool || 5 %>
  timeout: <%= database_timeout || 5000 %>
  host: <%= database_host %>
  username: <%= database_username %>
  password: <%= database_password %>

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.

production:
  <<: *default
  database: <%= database_name %>
