upstream app {
    # Path to Unicorn SOCK file, as defined previously
    server unix:<%= unicorn_socket %> fail_timeout=0;
}

server {
    listen 80 default;
    server_name <%= nginx_server_name %>;

    # Application root, as defined previously
    root <%= deploy_to %>/<%= current_path %>/public;

    try_files $uri @rails;

    location @rails {
      proxy_pass http://app;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      proxy_intercept_errors on;
      expires -1;
    }

    error_page 500 502 503 504 /500.html;
    client_max_body_size 4G;
    keepalive_timeout 10;
}
