#!/bin/bash

source /usr/local/rvm/scripts/rvm

if [ ! -f <%= resque_scheduler_pid %> ] || ! ps -p `cat <%= resque_scheduler_pid %>`;
then
  cd <%= rails_root %> && RAILS_ENV=<%= rails_env %> PIDFILE=<%= resque_scheduler_pid %> BACKGROUND=yes bundle exec rake resque:scheduler
fi
