#!/bin/sh

### BEGIN INIT INFO
# Provides:          resque_pool
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Manage resque service
# Description:       Start, stop, restart resque service.
### END INIT INFO

# Add to auto-start on server start
# sudo update-rc.d resque_pool defaults
# Remove from auto-start
# sudo update-rc.d -f resque_pool remove

set -e

AS_USER=<%= user %>
RAILS_ENV=<%= rails_env %>
APP_ROOT=<%= rails_root %>
PID=<%= resque_pool_pid %>
CMD="cd $APP_ROOT && RAILS_ENV=$RAILS_ENV bundle exec resque-pool -d -o $APP_ROOT/log/resque-pool.log -e $APP_ROOT/log/resque-pool.error.log -p $PID"

set -u

OLD_PIN="$PID.oldbin"

sig () {
  test -s "$PID" && kill -$1 `cat $PID`
}

oldsig () {
  test -s $OLD_PIN && kill -$1 `cat $OLD_PIN`
}

run () {
  if [ "$(id -un)" = "$AS_USER" ]; then
    eval $1
  else
    su -c "$1" - $AS_USER
  fi
}

case "$1" in
start)
  sig 0 && echo >&2 "Already running" && exit 0
  run "$CMD"
  ;;
stop)
  sig QUIT && exit 0
  echo >&2 "Not running"
  ;;
force-stop)
  sig TERM && exit 0
  echo >&2 "Not running"
  ;;
restart|reload)
  sig HUP && echo reloaded OK && exit 0
  echo >&2 "Couldn't reload, starting '$CMD' instead"
  run "$CMD"
  ;;
*)
  echo >&2 "Usage: $0 <start|stop|restart|force-stop>"
  exit 1
  ;;
esac