RAILS_ENV="<%= rails_env %>"
APP_ROOT="<%= rails_root %>"
CMD="cd $APP_ROOT && RAILS_ENV=$RAILS_ENV PIDFILE=$PID LOGFILE=$APP_ROOT/log/resque-schedule.log VERBOSE=true BACKGROUND=yes bundle exec rake resque:scheduler"

case "$1" in
start)
  sig 0 && echo >&2 "Already running" && exit 0
  echo "Starting"
  run "$CMD"
  echo "Start ok"
  ;;
stop)
  sig 9 && exit 0
  echo >&2 "Not running"
  ;;
restart|reload)
  sig 9
  run "$CMD"
  ;;
*)
  echo >&2 "Usage: $0 <start|stop|restart>"
  exit 1
  ;;
esac
