#!/bin/bash

source /usr/local/rvm/scripts/rvm

if [ ! -f <%= resque_pool_pid %> ] || ! ps -p `cat <%= resque_pool_pid %>`;
then
  cd <%= rails_root %> && rvm use 2.2.1@mina-best-practice && RAILS_ENV=<%= rails_env %> bundle exec resque-pool -d -o <%= rails_root %>/log/resque-pool.log -e <%= rails_root %>/log/resque-pool.error.log -p <%= resque_pool_pid %>
fi
