RAILS_ENV=<%= rails_env %>
APP_ROOT=<%= rails_root %>
CMD="cd $APP_ROOT && RAILS_ENV=$RAILS_ENV bundle exec resque-pool -d -o $APP_ROOT/log/resque-pool.log -e $APP_ROOT/log/resque-pool.error.log -p $PID"

case "$1" in
start)
  sig 0 && echo >&2 "Already running" && exit 0
  run "$CMD"
  ;;
stop)
  sig QUIT && exit 0
  echo >&2 "Not running"
  ;;
force-stop)
  sig TERM && exit 0
  echo >&2 "Not running"
  ;;
restart|reload)
  sig HUP && echo reloaded OK && exit 0
  echo >&2 "Couldn't reload, starting '$CMD' instead"
  run "$CMD"
  ;;
*)
  echo >&2 "Usage: $0 <start|stop|restart|force-stop>"
  exit 1
  ;;
esac
