#!/bin/sh

### BEGIN INIT INFO
# Provides:          <%= service_name %>
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: <%= service_short_description || "Manage #{service_name} service." %>
# Description:       <%= service_description || "Start, stop, restart #{service_name} service." %>
### END INIT INFO

set -e

AS_USER=<%= user %>
PID=<%= pid_file %>

set -u

OLD_PIN="$PID.oldbin"

sig () {
  test -s "$PID" && kill -$1 `cat $PID`
}

oldsig () {
  test -s $OLD_PIN && kill -$1 `cat $OLD_PIN`
}

run () {
  if [ "$(id -un)" = "$AS_USER" ]; then
    eval $1
  else
    su -c "$1" - $AS_USER
  fi
}
