APP_ROOT=<%= rails_root %>
PID=<%= unicorn_pid %>
ENVIRONMENT=<%= rails_env %>
CONFIG=<%= unicorn_config %>
CMD="cd $APP_ROOT && bundle exec unicorn_rails -D -c $CONFIG -E $ENVIRONMENT"

case $1 in
start)
  sig 0 && echo >&2 "Already running" && exit 0
  run "$CMD" && echo "start ok" && exit 0
  ;;
stop)
  sig QUIT && echo "stop ok" && exit 0
  echo >&2 "Not running"
  ;;
force-stop)
  sig TERM && echo "force-stop ok" && exit 0
  echo >&2 "Not running"
  ;;
restart|reload)
  sig HUP && echo "reloaded OK" && exit 0
  echo >&2 "Couldn't reload, starting '$CMD' instead"
  run "$CMD"
  ;;
upgrade)
  sig USR2 && echo Upgraded && exit 0
  echo >&2 "Couldn't upgrade, starting '$CMD' instead"
  run "$CMD"
  ;;
kill_worker)
  workersig QUIT $2 && exit 0
  echo >&2 "Worker not running"
  ;;

reopen-logs)
  sig USR1
  ;;
*)
  echo >&2 "Usage: $0 <start|stop|restart|upgrade|force-stop|reopen-logs>"
  exit 1
  ;;
esac
